<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>Yelp Camp</title>
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Campgrounds
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/campgrounds">View Campgrounds</a>
                <a class="dropdown-item" href="/campgrounds/new">Add campgrounds</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <!-- We have access to any variable we passed on template -->
            <% if(!currentUser) { %> 
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <% } else { %>
            <div class="nav-item">
              <a class="nav-link"><%= currentUser.username %></a>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %> 
          </ul>
        </div>
      </nav>

      <div class="jumbotron text-center">
        <h1 class="display-5">Welcome to YC!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, excepturi!</p>
      </div>

      <div class="container">
        <!-- We have to check if the error length is > 0 because error is an empty array -->
        <% if(error && error.length > 0) { %> 
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
        <% } %>

        <% if(success && success.length > 0) { %> 
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %> 
      </div>


    </header>
